#firstSection {
    display: inline-block;
    background-image: url(/assets/img/photox.png);
    position: absolute;
    width: 1920px;
    height: 797px;  
    right: 0;
}

#leftBox {
    background-image: url(/assets/img/photo.png);
    position: absolute;
    width: 955px;
    height: 797px; 
    left: 0;
    top: 0;      
}

.container-flut {   
    position: absolute;
    width: 627px;
    height: 184px;
    left: 91px;
    top: 196px;
    background: #3A4042;
    box-shadow: 10px 10px 0px 0px #000000;
}

.myName {
    color: #F25A70ed;
    width: 100%;
    height: 40px;
    text-align: center; 
    text-shadow: 4px 4px 0px #000000;       

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
}

.myFunc {
    color: #FFFFFF;
    text-align: center; 
    text-shadow: 4px 4px 0px #000000;  

    /* Title */
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}


