#buttonCV { 
    background-color: #f25a70;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;  
    cursor: pointer;  

    font-family: 'Fira Code', monospace;   
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px; 
}

#buttonCV:hover,.botaoDownload:hover, .botaoContato:hover {
    color: #3944dd;
    background-color: yellow;
}

.botaoDownload {       
    color: #FFFFFF;  
    cursor: pointer;
    padding: 20px 20px;

    font-family: 'Fira Code', monospace;   
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    
    background: #F25A70;
    box-shadow: 5px 5px 0px #000000;
}

.botaoContato {  
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px 40px;

    font-family: 'Fira Code', monospace;   
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    
    background: #F25A70;
    box-shadow: 5px 5px 0px #000000;
}
